:root {
    --main-background-color: white;
    --card-background-color: lightgray;
    --font-family: Ariel, sans-serif
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-color);
    margin: 2rem 3rem;
    font-family: var(--font-family);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    height: 100px;

}

header > nav > ul {
    list-style: none;
}

header > nav > ul > li > a {
    background-color: white;
    padding: 0.5rem 1rem;
}

nav > ul {
    display: flex;
    gap: 1rem
}

main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

.promo {
    background-color: var(--card-background-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

section {
    display: flex;
    gap: 1rem
}

article {
    background-color: var(--card-background-color);
    border-radius: 1rem;
    padding: 1rem
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    height: 1.5rem;
}

footer p {
    text-align: right;
}